{# DECLARATION #}
	{% set allEntries 		= "" %}
	{% set categoriesInUse 	= "" %}
{# ASIGNATION #}
	{% set allEntries 		= craft.entries.section('activities').all() %}
	{% set categoriesInUse 	= craft.categories.relatedTo(allEntries).all() %}
{# CODE #}
	<div class="c-activities_filter">
		<p class="c-filter_title">Filtrer votre recherche</p>
		<div class="c-activities_filter_select">
			<select class="c-activities_select">
				<option value="http://painchaud.test/activites">Catégorie</option>
				{% for initiative in categoriesInUse %}
					<option value="{{initiative.url()}}">{{ initiative.title }}</option>
				{% endfor %}
			</select>
		</div>
	</div>