
{# DECLARATION #}

	{% set title = "" %}
	{% set image = "" %}	
	{% set content		= "" %}
{# ASIGNATION #}

	{% set title = entry.citTitle %}
	{% set image = entry.citImage.one() %}
	{% set content		= entry.citContent %}
{# CODE #}

	<section class="o-section c-img-txt">
		<div class="o-wrapper">
			<div class="o-wrap">
				<div class="c-img-txt_flex">
				<div class="c-img-txt_flex_item c-content_first-column -content u-1/2@landscape-small-tablet">
					<h2 data-title="{{title}}" class="c-data c-color-two">{{title}}</h2>
					{{content}}
				</div>					
				<div class="c-img-txt_flex_item -image u-1/2@portrait-large-tablet">
					<img src="{{image.url()}}">
				</div>

			</div>
		</div>
	</section>