
{# DECLARATION #}
	{% set logoFooter	= "" %}
{# ASIGNATION #}
	{% set logoFooter	= craft.app.sites.primarySite.baseUrl  ~ "assets/images/logos/maison-painchaud-logo.png" %}
{# CODE #}

<footer class="c-footer">
	<div class="o-wrapper">
		<div class="o-layout c-footer_content">
			<div class="o-layout__item u-1/3 c-footer_logo">
				<img class="c-logo" src="{{logoFooter}}" alt="Maison Painchaud">
			</div>
			<div class="o-layout__item u-2/3@portrait-large-tablet">
				<div class="o-layout o-layout--custom-three">
					<div class="o-layout__item c-footer_first-column u-1/2@portrait-small-tablet">
						{{global.globalAddress}}
						<p class="c-fax">Télécopieur : {{global.globalFax}}</p>
						{{global.globalOpenEnvironmentAddress}}
						<p class="c-fax">Télécopieur : {{global.globalOpenEnvironmentFax}}</p>
						<a class="c-footer_google-maps" href="{{global.globalGM.getUrl()}}" target="_blank" rel="external nofollow">Ouvrir dans Google Maps</a>
					</div>									
					<div class="o-layout__item u-1/2@portrait-small-tablet">
						<h3>Contactez-nous maintenant</h3>
						<p>Téléphone : {{global.globalPhone}}</p>
						<a href="mailto:{{global.globalMail}}">{{global.globalMail}}</a>
					</div>									
				</div>
			</div>
		</div>
		<div class="c-footer_copyright">
			<small>© {{now|date('Y')}} Tous droits réservés - {{ craft.app.sites.primarySite.name }} - Signé <a href="http://agencezel.com/" rel="external nofollow">Zel agence de communication</a></small>
		</div>
	</div>
</footer>