{# DECLARATION #}
	{% set activities = "" %}
{# ASIGNATION #}
	{% set activities = craft.entries.section('activities').all() %}
{# CODE #}

	<section class="o-section c-activities">
		<div class="o-wrapper">
			<div class="o-wrap">
			<h2 data-title="Restez à l'affût de nos activités" class="c-data">Restez à l'affût de nos activités</h2>
			<ul class="o-layout o-layout--custom-two c-activities_ul">
			    {% nav entry in activities %}
					{# DECLARATION #}
						{% set image = "" %}	
					{# ASIGNATION #}
						{% set image = entry.imageThumbnail.one() %}
					{# CODE #}
		        		<li class="o-layout__item u-1/2@portrait-large-tablet">
		        			<figure>
		        				<div class="c-activities_image">
			        			<img src="{{image.url('activities')}}" alt="{{image.title}}">
			        			</div>
			        			<figcaption>
			        				<p class="c-activities_info">{{entry.activitiesCategories.one().title}} - {{entry.activitiesDate|date('j F Y')}}</p>
			            			<a class="c-activities_title" href="{{entry.url}}">{{ entry.title[:80] }}</a>
			            			<div class="c-activities_link_box"><a class="c-activities_link" href="{{entry.url}}"></a></div>
			            		</figcaption>
							</figure>
		        		</li>
	    		{% endnav %}
			</ul>		
			<a class="c-btn c-btn--secondary">Voir le calendrier</a>
		</div>
		</div>
	</section>